image: docker:latest

before_script:
  - apk add bash
  - apk add git
  - docker image prune -f
  - docker container prune -f

stages:          # List of stages for jobs, and their order of execution
  - test


test-job:   # This job runs in the test stage.
  stage: test
  script:
    - docker build --network=host --build-arg TESTING=true --build-arg GIT_REPO=$CI_REPOSITORY_URL -f .devcontainer/Dockerfile -t test-noetic .
    - docker run --entrypoint /repo/.gitlab/actions/test/run.sh test-noetic   
